# Exploration des données

Une première approche pour comprendre les données que l'on a.

## 1 - Documentation

L'API 'nba_api' a une très bonne documentation sur les différents *endpoints* et sur les variables que l'on peut utilisé.

### Tous les *endpoints*

<table><tr></tr><tr><td>boxscoreadvancedv2</td><td>boxscorefourfactorsv2</td><td>boxscoremiscv2</td><td>boxscoreplayertrackv2</td></tr><tr><td>boxscorescoringv2</td><td>boxscoresummaryv2</td><td>boxscoretraditionalv2</td><td>boxscoreusagev2</td></tr><tr><td>commonallplayers</td><td>commonplayerinfo</td><td>commonplayoffseries</td><td>commonteamroster</td></tr><tr><td>commonteamyears</td><td>defensehub</td><td>draftcombinedrillresults</td><td>draftcombinenonstationaryshooting</td></tr><tr><td>draftcombineplayeranthro</td><td>draftcombinespotshooting</td><td>draftcombinestats</td><td>drafthistory</td></tr><tr><td>franchisehistory</td><td>homepageleaders</td><td>homepagev2</td><td>infographicfanduelplayer</td></tr><tr><td>leaderstiles</td><td>leaguedashlineups</td><td>leaguedashplayerbiostats</td><td>leaguedashplayerclutch</td></tr><tr><td>leaguedashplayerptshot</td><td>leaguedashplayershotlocations</td><td>leaguedashplayerstats</td><td>leaguedashptdefend</td></tr><tr><td>leaguedashptstats</td><td>leaguedashptteamdefend</td><td>leaguedashteamclutch</td><td>leaguedashteamptshot</td></tr><tr><td>leaguedashteamshotlocations</td><td>leaguedashteamstats</td><td>leaguegamefinder</td><td>leaguegamelog</td></tr><tr><td>leagueleaders</td><td>leaguestandings</td><td>playbyplay</td><td>playbyplayv2</td></tr><tr><td>playerawards</td><td>playercareerstats</td><td>playercompare</td><td>playerdashboardbyclutch</td></tr><tr><td>playerdashboardbygamesplits</td><td>playerdashboardbygeneralsplits</td><td>playerdashboardbylastngames</td><td>playerdashboardbyopponent</td></tr><tr><td>playerdashboardbyshootingsplits</td><td>playerdashboardbyteamperformance</td><td>playerdashboardbyyearoveryear</td><td>playerdashptpass</td></tr><tr><td>playerdashptreb</td><td>playerdashptshotdefend</td><td>playerdashptshots</td><td>playerfantasyprofile</td></tr><tr><td>playerfantasyprofilebargraph</td><td>playergamelog</td><td>playergamestreakfinder</td><td>playernextngames</td></tr><tr><td>playerprofilev2</td><td>playersvsplayers</td><td>playervsplayer</td><td>playoffpicture</td></tr><tr><td>scoreboard</td><td>scoreboardv2</td><td>shotchartdetail</td><td>shotchartlineupdetail</td></tr><tr><td>teamdashboardbyclutch</td><td>teamdashboardbygamesplits</td><td>teamdashboardbygeneralsplits</td><td>teamdashboardbylastngames</td></tr><tr><td>teamdashboardbyopponent</td><td>teamdashboardbyshootingsplits</td><td>teamdashboardbyteamperformance</td><td>teamdashboardbyyearoveryear</td></tr><tr><td>teamdashlineups</td><td>teamdashptpass</td><td>teamdashptreb</td><td>teamdashptshots</td></tr><tr><td>teamdetails</td><td>teamgamelog</td><td>teamgamestreakfinder</td><td>teamhistoricalleaders</td></tr><tr><td>teaminfocommon</td><td>teamplayerdashboard</td><td>teamplayeronoffdetails</td><td>teamplayeronoffsummary</td></tr><tr><td>teamvsplayer</td><td>teamyearbyyearstats</td><td>videodetails</td><td>videoevents</td></tr><tr><td>videostatus</td></tr></table>


[lien vers documentations des *endpoints*](https://github.com/swar/nba_api/tree/master/docs/nba_api/stats/endpoints)

[lien vers documentations des variables et des sorties](https://github.com/swar/nba_api/tree/master/docs/nba_api/stats/library)

### Exemple de documentation

Prenons la documentation du *endpoint* PlayerGameLog : 

#### PlayerGameLog
##### [nba_api/stats/endpoints/playergamelog.py](https://github.com/swar/nba_api/blob/master/nba_api/stats/endpoints/playergamelog.py)

##### Endpoint URL
>[https://stats.nba.com/stats/playergamelog](https://stats.nba.com/stats/playergamelog)

##### Valid URL
>[https://stats.nba.com/stats/playergamelog?DateFrom=&DateTo=&LeagueID=&PlayerID=2544&Season=2019-20&SeasonType=Regular+Season](https://stats.nba.com/stats/playergamelog?DateFrom=&DateTo=&LeagueID=&PlayerID=2544&Season=2019-20&SeasonType=Regular+Season)

#### Parameters
API Parameter Name | Python Parameter Variable | Pattern | Required | Nullable
------------ | ------------ | :-----------: | :---: | :---:
[_**PlayerID**_](https://github.com/swar/nba_api/blob/master/docs/nba_api/stats/library/parameters.md#PlayerID) | player_id |  | `Y` |  | 
[_**Season**_](https://github.com/swar/nba_api/blob/master/docs/nba_api/stats/library/parameters.md#Season) | season |  | `Y` |  | 
[_**SeasonType**_](https://github.com/swar/nba_api/blob/master/docs/nba_api/stats/library/parameters.md#SeasonType) | season_type_all_star | `^(Regular Season)\|(Pre Season)\|(Playoffs)\|(All-Star)\|(All Star)$` | `Y` |  | 
[_**LeagueID**_](https://github.com/swar/nba_api/blob/master/docs/nba_api/stats/library/parameters.md#LeagueID) | league_id_nullable |  |  | `Y` | 
[_**DateTo**_](https://github.com/swar/nba_api/blob/master/docs/nba_api/stats/library/parameters.md#DateTo) | date_to_nullable |  |  | `Y` | 
[_**DateFrom**_](https://github.com/swar/nba_api/blob/master/docs/nba_api/stats/library/parameters.md#DateFrom) | date_from_nullable |  |  | `Y` | 

#### Data Sets
##### PlayerGameLog `player_game_log`
```text
['SEASON_ID', 'Player_ID', 'Game_ID', 'GAME_DATE', 'MATCHUP', 'WL', 'MIN', 'FGM', 'FGA', 'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB', 'REB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'PLUS_MINUS', 'VIDEO_AVAILABLE']
```

## 2 - Premier contact

Le but de cette partie est de calculer le score de chaqun des joueurs en se basant sur la formule de TrashTalk

In [1]:
import pandas as pd
from tqdm import tqdm
from nba_api.stats.static import players, teams
import nba_api.stats.endpoints as nba
from nba_api.stats.library.parameters import SeasonTypeAllStar
import time
import datetime

pd.set_option('display.max_columns', None)

In [2]:
nba_players = pd.DataFrame(players.get_players()).set_index('id')
nba_teams = pd.DataFrame(teams.get_teams()).set_index('id')

In [3]:
def player_id(name):
    return nba_players[nba_players.full_name == name].index.values[0]

In [4]:
def team_id(name):
    return nba_teams[nba_teams.abbreviation == name].index.values[0]

In [5]:
def player_name(id_player):
    return nba_players[nba_players.index == id_player].full_name.values[0]

In [6]:
def players_name(df, name_column='PLAYER_ID'):
    players = nba_players['full_name'].to_dict()
    df['NAME'] = df[name_column].map(players)

In [7]:
def team_name(id_team):
    return nba_players[nba_teams.index == id_team].full_name.values[0]

In [8]:
def season_id(season):
    return(f'{season}-{int(str(season)[2:])+1}')

### *EndPoint* `PlayerGameLog`

Permet de récupérer les statistiques individuelles des joueurs par saison.
On l'utilise pour calculer le score de TrashTalk

In [9]:
def boxscore_saison(player, saison=2019):
    playoffs = nba.PlayerGameLog(player, season=saison, season_type_all_star=SeasonTypeAllStar.playoffs).get_data_frames()[0]
    regular = nba.PlayerGameLog(player, season=saison).get_data_frames()[0]
    
    return(playoffs.append(regular))

In [10]:
lebron = player_id('LeBron James')

In [11]:
boxscore_saison(lebron)

,SEASON_ID,Player_ID,Game_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE
0,42019,2544,0041900406,"OCT 11, 2020",LAL @ MIA,W,41,13,20,0.650,1,5,0.200,1,4,0.250,3,11,14,10,1,0,1,3,28,30,1
1,42019,2544,0041900405,"OCT 09, 2020",LAL vs. MIA,L,42,15,21,0.714,6,9,0.667,4,6,0.667,3,10,13,7,3,0,4,1,40,4,1
2,42019,2544,0041900404,"OCT 06, 2020",LAL @ MIA,W,39,8,16,0.500,2,5,0.400,10,12,0.833,2,10,12,8,1,0,6,2,28,-2,1
3,42019,2544,0041900403,"OCT 04, 2020",LAL @ MIA,L,39,9,16,0.563,1,5,0.200,6,9,0.667,1,9,10,8,0,2,8,2,25,-4,1
4,42019,2544,0041900402,"OCT 02, 2020",LAL vs. MIA,W,39,14,25,0.560,3,8,0.375,2,5,0.400,2,7,9,9,1,1,0,2,33,7,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,22019,2544,0021900074,"NOV 01, 2019",LAL @ DAL,W,43,13,23,0.565,4,9,0.444,9,11,0.818,0,12,12,16,4,1,4,5,39,15,1
63,22019,2544,0021900054,"OCT 29, 2019",LAL vs. MEM,W,28,8,15,0.533,2,5,0.400,5,7,0.714,0,2,2,8,0,1,6,0,23,2,1
64,22019,2544,0021900040,"OCT 27, 2019",LAL vs. CHA,W,35,7,14,0.500,1,3,0.333,5,5,1.000,1,5,6,12,1,0,4,0,20,17,1
65,22019,2544,0021900025,"OCT 25, 2019",LAL vs. UTA,W,31,12,22,0.545,1,4,0.250,7,8,0.875,2,5,7,10,1,0,1,0,32,17,1
66,22019,2544,0021900002,"OCT 22, 2019",LAL @ LAC,L,36,7,19,0.368,1,5,0.200,3,4,0.750,1,9,10,8,1,1,5,3,18,-8,1

### *EndPoint* `CommonPlayerInfo`

On utilise cet *endpoint* pour avoir des informations sur un joueur en particulier, comme sa taille, son poids, sa date de naissance.
Un exemple ici est son utilisation pour avoir sa première et sa dernière saision

In [12]:
nba.CommonPlayerInfo(lebron).get_data_frames()[0]

,PERSON_ID,FIRST_NAME,LAST_NAME,DISPLAY_FIRST_LAST,DISPLAY_LAST_COMMA_FIRST,DISPLAY_FI_LAST,PLAYER_SLUG,BIRTHDATE,SCHOOL,COUNTRY,LAST_AFFILIATION,HEIGHT,WEIGHT,SEASON_EXP,JERSEY,POSITION,ROSTERSTATUS,GAMES_PLAYED_CURRENT_SEASON_FLAG,TEAM_ID,TEAM_NAME,TEAM_ABBREVIATION,TEAM_CODE,TEAM_CITY,PLAYERCODE,FROM_YEAR,TO_YEAR,DLEAGUE_FLAG,NBA_FLAG,GAMES_PLAYED_FLAG,DRAFT_YEAR,DRAFT_ROUND,DRAFT_NUMBER
0,2544,LeBron,James,LeBron James,"James, LeBron",L. James,lebron-james,1984-12-30T00:00:00,St. Vincent-St. Mary HS (OH),USA,St. Vincent-St. Mary HS (OH)/USA,6-9,250,16,23,Forward,Active,Y,1610612747,Lakers,LAL,lakers,Los Angeles,lebron_james,2003,2019,N,Y,Y,2003,1,1

In [13]:
def first_last_season_player(player_id):
    df = nba.CommonPlayerInfo(player_id).get_data_frames()[0]
    first = df.FROM_YEAR.values[0]
    last = df.TO_YEAR.values[0]
    return(first, last)

In [14]:
first_last_season_player(lebron)

(2003, 2019)

### *EndPoint* `CommonTeamRoster`

Cet *endpoint* donne des informations sur les 12 de l'équipe qu'on lui demande. /!\ Il faut spécifier une saison /!\.
Un exemple ici pour récupérer les positions des joueurs pour une équipe et une saison donnée

In [15]:
warrior = team_id('GSW')
nba.CommonTeamRoster(warrior, 2019).get_data_frames()[0]

,TeamID,SEASON,LeagueID,PLAYER,PLAYER_SLUG,NUM,POSITION,HEIGHT,WEIGHT,BIRTH_DATE,AGE,EXP,SCHOOL,PLAYER_ID
0,1610612744,2019,00,Damion Lee,damion-lee,1,G-F,6-5,210,"OCT 21, 1992",27.0,2,Louisville,1627814
1,1610612744,2019,00,Jordan Poole,jordan-poole,3,G,6-4,194,"JUN 19, 1999",21.0,R,Michigan,1629673
2,1610612744,2019,00,Kevon Looney,kevon-looney,5,F,6-9,222,"FEB 06, 1996",24.0,4,UCLA,1626172
3,1610612744,2019,00,Alen Smailagic,alen-smailagic,6,F,6-10,215,"AUG 18, 2000",19.0,R,Beko,1629346
4,1610612744,2019,00,Eric Paschall,eric-paschall,7,F,6-6,255,"NOV 04, 1996",23.0,R,Villanova,1629672
5,1610612744,2019,00,Klay Thompson,klay-thompson,11,G,6-6,215,"FEB 08, 1990",30.0,8,Washington State,202691
6,1610612744,2019,00,Ky Bowman,ky-bowman,12,G,6-1,187,"JUN 16, 1997",23.0,R,Boston College,1629065
7,1610612744,2019,00,Mychal Mulder,mychal-mulder,12,G,6-3,184,"JUN 12, 1994",26.0,R,Kentucky,1628539
8,1610612744,2019,00,Andrew Wiggins,andrew-wiggins,22,F,6-7,197,"FEB 23, 1995",25.0,5,Kansas,203952
9,1610612744,2019,00,Draymond Green,draymond-green,23,F,6-6,230,"MAR 04, 1990",30.0,7,Michigan State,203110
10,1610612744,2019,00,Stephen Curry,stephen-curry,30,G,6-3,185,"MAR 14, 1988",32.0,10,Davidson,201939
11,1610612744,2019,00,Marquese Chriss,marquese-chriss,32,F,6-9,240,"JUL 02, 1997",22.0,3,Washington,1627737
12,1610612744,2019,00,Juan Toscano-Anderson,juan-toscano-anderson,95,F,6-6,209,"APR 10, 1993",27.0,R,Marquette,1629308

In [16]:
def team_players(team_id, saison):
    df = nba.CommonTeamRoster(warrior, 2019).get_data_frames()[0]
    return(df[['PLAYER_ID', 'PLAYER', 'POSITION']])

In [17]:
team_players(warrior, 2019)

    PLAYER_ID                 PLAYER POSITION
0     1627814             Damion Lee      G-F
1     1629673           Jordan Poole        G
2     1626172           Kevon Looney        F
3     1629346         Alen Smailagic        F
4     1629672          Eric Paschall        F
5      202691          Klay Thompson        G
6     1629065              Ky Bowman        G
7     1628539          Mychal Mulder        G
8      203952         Andrew Wiggins        F
9      203110         Draymond Green        F
10     201939          Stephen Curry        G
11    1627737        Marquese Chriss        F
12    1629308  Juan Toscano-Anderson        F

### *EndPoint* `PlayerProfileV2`

Ce *endpoint* permet de trouver le prochain match d'un joueur et plein d'autre info qui vont surement pas nous servir. Je comprends pas bien le `Totals` mais je suis pas sur qu'il y ai un impact. De plus, je pense qu'il doit y avoir un autre *endpoint* qui permet d'obtenir cette information.

PS: au 27/10 la saison 202-2021 n'a pas encore démarrer d'où la liste vide

In [18]:
nba.PlayerProfileV2(lebron, 'Totals').get_data_frames()[6]

Empty DataFrame
Columns: [PLAYER_ID, SEASON_ID, LEAGUE_ID, ORGANIZATION_ID, SCHOOL_NAME, PLAYER_AGE, GP, GS, MIN, FGM, FGA, FG_PCT, FG3M, FG3A, FG3_PCT, FTM, FTA, FT_PCT, OREB, DREB, REB, AST, STL, BLK, TOV, PF, PTS]
Index: []

## 3 - Fonctions de récupérations de données

On retrouve ici les fonctions nécéssaires pour récupérer un base de données propre avec les données qui nous intéresse

In [19]:
def score_df(stats_season):
    # Mets en forme la base de donnée que l'on récupère par le endpoint PlayerGameLog
    
    stats_season['GAME_DATE'] = pd.to_datetime(stats_season['GAME_DATE'])
    
    stats_season['TEAM'] = stats_season['MATCHUP'].str[:3]
    stats_season['ADDV'] = stats_season['MATCHUP'].str[-3:]
    stats_season['HOME'] = ~stats_season['MATCHUP'].str.contains('@')

    stats_season['FGF'] = stats_season['FGA'] - stats_season['FGM']
    stats_season['FG3F'] = stats_season['FG3A'] - stats_season['FG3M']
    stats_season['FTF'] = stats_season['FTA'] - stats_season['FTM']
    
    bonus = ['PTS', 'REB', 'AST', 'STL', 'BLK', 'FGM', 'FTM', 'FG3M']
    malus = ['TOV', 'FGF', 'FG3F', 'FTF']

    cols = stats_season.columns.tolist()
    stats_season = stats_season[cols[:4] + cols[-6:-3] + bonus + malus]
    
    stats_season['BONUS'] = stats_season[bonus].sum(axis=1).astype('int')
    stats_season['MALUS'] = stats_season[malus].sum(axis=1).astype('int')
    stats_season['SCORE'] = stats_season['BONUS'] - stats_season['MALUS']
    
    #Cohérence des noms de colones
    stats_season.rename(columns={'Player_ID': 'PLAYER_ID', 'Game_ID': 'GAME_ID'}, inplace=True)

    return(stats_season)

In [20]:
saison = 2019

def get_data_box(saison):
    # Récupère les box score de tous les joueurs qui joue pendant la saison 
    df = pd.DataFrame()
    id_actives = nba_players_active.index.values

    print(f'Cela va prendre environ : {datetime.timedelta(seconds=len(id_actives)*0.5)}')
    for i in range(len(id_actives)):
        print(f'\r{i+1}/{len(id_actives)}', end='')
        df = df.append(boxscore_saison(id_actives[i], saison))
        time.sleep(0.5)
        
    df.to_csv(f'../data/boxscore_{saison}.csv')

In [21]:
%%capture
# Permet de ne pas voir le message de prevention

df_box_2019 = score_df(pd.read_csv('../data/boxscore_2019.csv'))

In [22]:
df_box_2019

,SEASON_ID,PLAYER_ID,GAME_ID,GAME_DATE,TEAM,ADDV,HOME,PTS,REB,AST,STL,BLK,FGM,FTM,FG3M,TOV,FGF,FG3F,FTF,BONUS,MALUS,SCORE
0,42019,203500,41900177,2020-09-02,OKC,HOU,False,10,9,0,2,1,4,2,0,1,2,0,1,28,4,24
1,42019,203500,41900176,2020-08-31,OKC,HOU,True,6,14,1,1,0,3,0,0,4,6,0,0,25,10,15
2,42019,203500,41900175,2020-08-29,OKC,HOU,False,12,14,0,0,0,6,0,0,0,2,0,2,32,4,28
3,42019,203500,41900174,2020-08-24,OKC,HOU,True,12,8,1,0,0,4,4,0,3,1,0,2,29,6,23
4,42019,203500,41900173,2020-08-22,OKC,HOU,True,6,13,2,0,1,3,0,0,3,4,0,3,25,10,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23964,22019,1627826,21900063,2019-10-30,LAC,UTA,False,8,8,1,0,2,4,0,0,1,0,0,0,23,1,22
23965,22019,1627826,21900051,2019-10-28,LAC,CHA,True,7,6,1,0,5,3,1,0,4,2,0,0,23,6,17
23966,22019,1627826,21900035,2019-10-26,LAC,PHX,False,7,5,0,0,1,1,5,0,1,3,0,1,19,5,14
23967,22019,1627826,21900016,2019-10-24,LAC,GSW,False,16,10,1,0,2,4,8,0,1,1,0,1,41,3,38
23968,22019,1627826,21900002,2019-10-22,LAC,LAL,True,8,1,0,0,0,4,0,0,0,0,0,0,13,0,13

In [23]:
def get_data_teams():
    # Récupère les statistiques par années de chacun des joueurs permet surtout de savoir quelles années ils ont joué et pour qui
    df = pd.DataFrame()

    lst_index = nba_players.index.values

    print(f'Cela va prendre environ : {datetime.timedelta(seconds=len(lst_index)*0.5)}')
    for i in range(len(lst_index)):
        print(f'\r{i+1}/{len(lst_index)}', end='')
        df = df.append(nba.PlayerCareerStats(lst_index[i]).season_totals_regular_season.get_data_frame())
        time.sleep(0.5)
    
    df.to_csv('../data/players_data.csv', index=False)

In [24]:
df_teams = pd.read_csv('../data/players_data.csv')
df_teams

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,76001,1990-91,0,1610612757,POR,23.0,43,0.0,290.0,55,116,0.474,0.0,0.0,0.0,25,44,0.568,27.0,62.0,89.0,12,4.0,12.0,22.0,39,135
1,76001,1991-92,0,1610612757,POR,24.0,71,1.0,934.0,178,361,0.493,0.0,0.0,0.0,76,101,0.752,81.0,179.0,260.0,30,25.0,16.0,66.0,132,432
2,76001,1992-93,0,1610612749,MIL,25.0,12,0.0,159.0,26,56,0.464,0.0,1.0,0.0,12,16,0.750,12.0,25.0,37.0,10,6.0,4.0,13.0,24,64
3,76001,1992-93,0,1610612738,BOS,25.0,63,52.0,1152.0,219,417,0.525,0.0,0.0,0.0,76,100,0.760,114.0,186.0,300.0,17,19.0,22.0,84.0,165,514
4,76001,1992-93,0,0,TOT,25.0,75,52.0,1311.0,245,473,0.518,0.0,1.0,0.0,88,116,0.759,126.0,211.0,337.0,27,25.0,26.0,97.0,189,578
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26971,1627826,2018-19,0,1610612747,LAL,22.0,33,12.0,516.0,112,193,0.580,0.0,0.0,0.0,57,66,0.864,54.0,108.0,162.0,25,4.0,27.0,33.0,73,281
26972,1627826,2018-19,0,1610612746,LAC,22.0,26,25.0,524.0,100,186,0.538,0.0,0.0,0.0,44,60,0.733,61.0,139.0,200.0,38,10.0,24.0,37.0,64,244
26973,1627826,2018-19,0,0,TOT,22.0,59,37.0,1039.0,212,379,0.559,0.0,0.0,0.0,101,126,0.802,115.0,247.0,362.0,63,14.0,51.0,70.0,137,525
26974,1627826,2019-20,0,1610612746,LAC,23.0,72,70.0,1326.0,236,385,0.613,0.0,2.0,0.0,124,166,0.747,197.0,346.0,543.0,82,16.0,66.0,61.0,168,596
26975,78650,1948-49,0,1610610036,WAS,29.0,56,NaN,NaN,98,323,0.303,NaN,NaN,NaN,77,109,0.706,NaN,NaN,NaN,50,NaN,NaN,NaN,182,273

In [25]:
print(len(df_teams['PLAYER_ID'].unique()))
print(len(nba_players))

4484
4501

On remarque qu'il n'y a pas des des données sur tous les joueurs

In [30]:
all_player = pd.DataFrame(nba_players.index)
missing = all_player[~all_player['id'].isin(df_teams['PLAYER_ID'])]
players_name(missing, 'id')
missing

/home/guillaume/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

           id             NAME
337    202392   Marqus Blakely
353   1629129   Trevon Bluiett
575    202221      Brian Butch
579    202364   Da'Sean Butler
1328   202070     Tony Gaffney
1664   202238  Kenny Hasbrouck
1764   201195     Herbert Hill
1978   201998  Curtis Jerrells
2495      986      Marcus Mann
2878  1626122  Makhtar N'diaye
3170  1629341    Tarik Phillip
3440   202375     Magnum Rolle
3662   202067   Diamon Simpson
4064   201987     Robert Vaden
4271   202358    Terrico White
4403  1629685    Dylan Windler
4435  1629624     Kenny Wooten

Après une recherche sur internet de certain joueur on se rends compte que ce sont des joueurs qui n'ont joué aucun match en NBA de leur carrière donc on peut ne pas en tenir compte.

In [31]:
def get_saison_data():
    
    df_teams = pd.read_csv('../data/players_data.csv')
    
    #On enlève les lignes TOT qui contabilise les statistiques lorsqu'un joueur a jouer dans plusieurs équipe une même année
    df_teams = df_teams[~(df_teams['TEAM_ABBREVIATION'] == 'TOT')]
    
    df = pd.get_dummies(df_teams[['PLAYER_ID', 'SEASON_ID']], columns=['SEASON_ID'], prefix='', prefix_sep='')
    
    df_active=df.groupby('PLAYER_ID').sum()
    
    df_active.to_csv('../data/saison_active.csv')

In [32]:
df_saison = pd.read_csv('../data/saison_active.csv')
df_saison

,PLAYER_ID,1946-47,1947-48,1948-49,1949-50,1950-51,1951-52,1952-53,1953-54,1954-55,1955-56,1956-57,1957-58,1958-59,1959-60,1960-61,1961-62,1962-63,1963-64,1964-65,1965-66,1966-67,1967-68,1968-69,1969-70,1970-71,1971-72,1972-73,1973-74,1974-75,1975-76,1976-77,1977-78,1978-79,1979-80,1980-81,1981-82,1982-83,1983-84,1984-85,1985-86,1986-87,1987-88,1988-89,1989-90,1990-91,1991-92,1992-93,1993-94,1994-95,1995-96,1996-97,1997-98,1998-99,1999-00,2000-01,2001-02,2002-03,2003-04,2004-05,2005-06,2006-07,2007-08,2008-09,2009-10,2010-11,2011-12,2012-13,2013-14,2014-15,2015-16,2016-17,2017-18,2018-19,2019-20
0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,1,1,1,2,1,1,1,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,7,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,2,1,1,1,1,1,1,1,1,1,1,2,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,9,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,2,2,1,1,1,1,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,12,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4479,1629744,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
4480,1629745,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
4481,1629750,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
4482,1629752,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
4483,1629760,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1